.wrapper {
  display: grid;
  grid-template-columns: 570px 1fr 350px;
  gap: 24px;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  background: #ffffff;
  border-radius: 24px;
}
.gallery {
  position: relative;
}
.badges {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 6px;
  z-index: 2;
}
.hit {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
}
.sale {
  background: #2cb742;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
}
.imageBox {
  position: relative;
}
.mainImage {
  width: 100%;
  max-height: 407px;
  border-radius: 12px;
}
.navLeft,
.navRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
}
.navLeft {
  left: 8px;
}
.navRight {
  right: 8px;
}
.videoBtn {
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  gap: 6px;
  position: absolute;
  bottom: 0;
}
.thumbs {
  margin-top: 30px;
  display: flex;
  gap: 8px;
}
.thumb {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid transparent;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activeThumb {
  border-color: #f34723;
}
.meta {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.meta span,
.meta button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 100%px;
  color: #9f9f9f;
}
.brandRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 8px;
}
.brand,
.warranty {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 100%;
}
.warranty {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.brand img {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 6px;
}
.priceRow {
  display: flex;
  gap: 12px;
  align-items: center;
}
.price {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}
.oldPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #7b7b7b;
}
.selectorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f3f5f6;
  border: 1.5px solid #ededed;
  border-radius: 14px;
  font-size: 14px;
  line-height: 100%;
  color: #1c1d1f;
}
.heightSelector {
  height: 38px;
  min-width: 103px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 4px;
  position: relative;
}
.heightValue {
  margin-right: 10px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: #2cb742;
}
.arrows {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.arrowUp {
  border-radius: 0 12px 0 0 !important;
  border-bottom: 1px solid #d4d6d7;
}
.arrowDown,
.arrowUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50%;
  cursor: pointer;
  background: #f3f5f6;
  border-radius: 0 0 12px 0;
}
.fit {
  font-size: 14px;
  line-height: 24px;
  color: #2cb742;
  display: flex;
  align-items: center;
  gap: 5px;
}
.options {
  display: flex;
  justify-content: space-between;
}
.options > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.options label {
  font-weight: 500;
  font-size: 16px;
}
.select {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  cursor: pointer;
  background: #f3f5f6;
  border: 1px solid #ededed;
  border-radius: 8px;
}
.arrow {
  margin-left: auto;
  font-size: 14px;
  opacity: 0.6;
}
.colorDot {
  min-width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #7b001c;
}
.counter {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 6px;
  border: 1px solid #ededed;
  border-radius: 8px;
}
.counter button {
  width: 28px;
  height: 28px;
  color: #808080;
  border-radius: 50%;
  border: none;
  background: white;
  font-size: 24px;
  line-height: 100%;
  cursor: pointer;
}
.counter span {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
}
.selectWrapper {
  position: relative;
}
.colorBox .selectWrapper {
  width: 172px;
}
.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  z-index: 10;
}
.dropdown > div {
  padding: 10px 14px;
  cursor: pointer;
}
.dropdown div:hover {
  background: #f5f5f5;
}
.arrow {
  transition: transform 0.2s ease;
}
.open {
  transform: rotate(180deg);
}
.optionContent {
  display: flex;
  align-items: center;
  gap: 8px;
}
.gift {
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f34723;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}
.actions {
  display: flex;
  gap: 20px;
}
.cart {
  background: #f34723;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 30px;
  border: none;
  border-radius: 12px;
  display: flex;
  gap: 6px;
}
.fav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #f3f5f6;
  background: #fff;
}
.installment {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #1d93d2;
}
.sidebar {
  background: #fafafa;
  padding: 16px;
  border-radius: 12px;
}
.sidebarItem {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  color: #7b7b7b;
}
.sidebarItem svg {
  min-width: 24px;
}
.sidebarItem a {
  font-weight: 500;
  color: #6a6969;
  text-decoration: underline dotted;
}
.disabledOption {
  opacity: 0.5;
  color: #999;
  cursor: not-allowed;
  pointer-events: none;
}
.disabledOption:hover {
  background-color: transparent;
}
@media (max-width: 1470px) {
  .wrapper {
    grid-template-columns: calc(100% - 374px) 350px;
    grid-template-areas:
      "gallery sidebar"
      "info info";
  }
  .gallery {
    grid-area: gallery;
  }
  .sidebar {
    grid-area: sidebar;
    width: 350px;
  }
  .info {
    grid-area: info;
    width: 100%;
    gap: 20px;
  }
  .mainImage {
    object-fit: contain;
    max-height: 550px;
  }
  .options {
    justify-content: flex-start;
    gap: 40px;
  }
  .selectorBox {
    max-width: 500px;
  }
}
@media (max-width: 1300px) {
}
@media (max-width: 1100px) {
  .wrapper {
    grid-template-areas:
      "gallery gallery"
      "info info"
      "sidebar sidebar";
  }
  .sidebar {
    width: 100%;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: 50% calc(50% - 20px);
    padding: 20px;
    margin: 0 20px;
  }
  .sidebarItem {
    display: block;
    position: relative;
  }
  .sidebarItem svg {
    display: inline-block;
    position: relative;
    bottom: -5px;
    margin-right: 5px;
  }
  .actions {
    flex-wrap: wrap;
  }
  .options {
    gap: 20px;
    flex-direction: column;
  }
  .counter,
  .select {
    max-width: fit-content;
  }
  .thumbs {
    flex-wrap: wrap;
  }
  .mainImage {
    height: 70vw;
  }
  .meta span,
  .meta button {
    font-size: 12px;
  }
}
