.wrapper {
  display: grid;
  grid-template-columns: 570px 1fr 350px;
  gap: 24px;
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  background: #ffffff;
  border-radius: 24px;
}
.gallery {
  position: relative;
}
.badges {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  gap: 6px;
  z-index: 2;
}
.hit {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
}
.sale {
  background: #2cb742;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;
}
.imageBox {
  position: relative;
}
.mainImage {
  width: 100%;
  max-height: 407px;
  border-radius: 12px;
}
.navLeft,
.navRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: none;
}
.navLeft {
  left: 8px;
}
.navRight {
  right: 8px;
}
.videoBtn {
  margin: 10px;
  padding: 10px;
  display: flex;
  border-radius: 8px;
  gap: 6px;
  position: absolute;
  bottom: 0;
}
.thumbs {
  margin-top: 30px;
  display: flex;
  gap: 8px;
}
.thumb {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  border: 2px solid transparent;
}
.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activeThumb {
  border-color: #f34723;
}
.meta {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.meta span,
.meta button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  line-height: 100%px;
  color: #9f9f9f;
}
.brandRow {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 8px;
}
.brand,
.warranty {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 100%;
}
.warranty {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.brand img {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 6px;
}
.priceRow {
  display: flex;
  gap: 12px;
  align-items: center;
}
.price {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
}
.oldPrice {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #7b7b7b;
}
.selectorBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f3f5f6;
  border: 1.5px solid #ededed;
  border-radius: 14px;
  font-size: 14px;
  line-height: 100%;
  color: #1c1d1f;
}
.heightSelector {
  height: 38px;
  width: 103px;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 4px;
  position: relative;
}
.heightValue {
  margin-right: 10px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: #2cb742;
}
.arrows {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.arrowUp {
  border-radius: 0 12px 0 0 !important;
  border-bottom: 1px solid #d4d6d7;
}
.arrowDown,
.arrowUp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 50%;
  cursor: pointer;
  background: #f3f5f6;
  border-radius: 0 0 12px 0;
}
.fit {
  font-size: 14px;
  line-height: 24px;
  color: #2cb742;
  display: flex;
  align-items: center;
  gap: 5px;
}
.options {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.options > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.options label {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.counter {
  display: flex;
  gap: 8px;
  align-items: center;
}
.gift {
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f34723;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}
.actions {
  display: flex;
  gap: 20px;
}
.cart {
  background: #f34723;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 20px 30px;
  border: none;
  border-radius: 12px;
  display: flex;
  gap: 6px;
}
.fav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 2px solid #f3f5f6;
  background: #fff;
}
.installment {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: underline;
  color: #1d93d2;
}
.sidebar {
  background: #fafafa;
  padding: 16px;
  border-radius: 12px;
}

.sidebarItem {
  display: flex;
  gap: 6px;
  margin-bottom: 8px;
  color: #7b7b7b;
}
.sidebarItem svg {
  min-width: 24px;
}

.sidebarItem a {
  font-weight: 500;
  color: #6a6969;
  text-decoration: underline dotted;
}
