.extendedWarranty h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  color: #1c1e20;
  margin: 20px 0;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.extendedWarranty p {
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  margin-top: 10px;
}
.extendedWarranty h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 29px;
  color: #000000;
}
.whiteBox {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px 30px;
  background: #ffffff;
  border-radius: 24px;
  position: relative;
  margin: 50px 0;
}
.whiteBox h2 {
  margin-bottom: 10px;
}
.whiteBox p {
  max-width: 1300px;
}
.iconCircle {
  width: 57px;
  height: 57px;
  min-width: 57px;
  background-color: #0061bf;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottomBlock {
  display: flex;
  gap: 60px;
}
.bottomBlock li {
  list-style: disc;
  margin-left: 20px;
  font-size: 18px;
  line-height: 160%;
  color: #333333;
}
.buttonBlock {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.orangeButton {
  padding: 20px 29px;
  background: #f34723;
  border: 2px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(255, 125, 30, 0.12);
  border-radius: 12px;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #ffffff;
}
.whiteButton {
  padding: 20px 46px;
  border: 2px solid #f34723;
  filter: drop-shadow(0px 3px 5px rgba(255, 125, 30, 0.12));
  border-radius: 12px;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
  color: #f34723;
}
@media (max-width: 1470px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1100px) {
}
@media (max-width: 900px) {
  .bottomBlock {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .buttonBlock {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .extendedWarranty {
    margin: 0 20px;
  }
  .extendedWarranty h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .extendedWarranty p,
  .bottomBlock li {
    font-size: 16px;
  }
  .whiteBox {
    padding: 30px 20px;
  }
  .iconCircle {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .extendedWarranty h2 {
    font-size: 20px;
  }
}
