.consultation {
  min-width: 352px;
  max-width: 352px;
  height: fit-content;
  background: #ffffff;
  border-radius: 24px;
  padding: 20px;
  margin-top: 90px;
}
.title {
  font-size: 14px !important;
  line-height: 100% !important;
  text-align: center;
  color: #565656 !important;
  margin-bottom: 20px;
}
.consultation img {
  width: 60px;
  height: 60px;
}
.consultationBox {
  display: flex;
  align-items: center;
  gap: 15px;
}
.name {
  font-weight: 500;
  font-size: 20px !important;
  line-height: 24px !important;
  color: #454545 !important;
}
.jobTitle {
  font-size: 14px !important;
  line-height: 17px !important;
  color: #565656 !important;
}
.grade {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 500;
  font-size: 20px !important;
  line-height: 24px !important;
  color: #454545 !important;
}
.grade svg {
  position: relative;
  top: -1px;
}
.callBtn,
.writeBtn {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 100%;
  text-transform: capitalize;
}
.callBtn {
  background: #f34723;
  border: 2px solid #ffffff;
  box-shadow: 0px 3px 5px rgba(255, 125, 30, 0.12);
  color: #ffffff;
}
.writeBtn {
  border: 2px solid #f34723;
  filter: drop-shadow(0px 3px 5px rgba(255, 125, 30, 0.12));
  color: #f34723;
}
.buttonsBox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .consultation {
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .consultation {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
  }
  .callBtn,
  .writeBtn {
    font-size: 14px;
  }
}
