.requisite h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  color: #1c1e20;
  margin: 20px 0;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.contentBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 370px);
}
.requisiteBox {
  display: flex;
}
.contentBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 18px;
  padding: 50px 40px;
}
.contentBlock p,
.contentBlock span {
  max-width: 700px;
  font-size: 18px;
  line-height: 100%;
}
.contentBlock span {
  font-weight: 700;
}
@media (max-width: 1470px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1100px) {
  .contentBlock {
    width: 100%;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 600px) {
  .requisite {
    margin: 0 20px;
  }
  .requisite h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .contentBlock {
    width: 100%;
  }
  .contentBlock {
    padding: 30px 20px;
  }
  .contentBlock p,
  .ontentBlock span {
    font-size: 16px;
  }
}
