.help h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  color: #1c1e20;
  margin: 20px 0;
}
.help h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.contentBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 370px);
}
.contentBlock p {
  font-size: 18px;
  line-height: 100%;
  color: #333333;
  margin-bottom: 20px;
}
.contentBlock a {
  text-decoration: underline;
}
.helpBox {
  display: flex;
}
@media (max-width: 1470px) {
}
@media (max-width: 1300px) {
}
@media (max-width: 1100px) {
  .contentBlock {
    width: 100%;
  }
  .help h2 {
    display: none;
  }
}
@media (max-width: 900px) {
}
@media (max-width: 600px) {
  .help {
    margin: 0 20px;
  }
  .help h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .contentBlock {
    width: 100%;
  }
  .contentBlock p {
    font-size: 16px;
  }
}
