.bannerBlock {
  width: 100%;
  margin-bottom: 50px;
}
.bannersBlock {
  width: 72%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  border-radius: 48px;
}
.bannerSlide {
  border-radius: 48px;
}
.bannerImg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 48px;
}
.nav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 999;
}
.prevBtn,
.nextBtn {
  border: none;
  color: white;
  cursor: pointer;
}
.pagination {
  display: flex;
  gap: 5px;
  width: fit-content;
}
.pagination :global(.swiper-pagination-bullet) {
  width: 10px;
  height: 10px;
  border: 2px solid #919191;
  background: none;
  opacity: 0.5;
}
.pagination :global(.swiper-pagination-bullet-active) {
  background: #f34723;
  border: 2px solid #f34723;
  opacity: 1;
}
.banners,
.miniBanners {
  display: flex;
  gap: 20px;
}
.miniBanners {
  width: 28%;
  flex-direction: column;
}
.swiper {
  height: 100%;
}
.miniBanners img {
  height: 240px;
  border-radius: 24px;
  object-fit: cover;
}
.bannerBlock h1 {
  font-weight: 400;
  font-size: 32px;
  color: #1c1e20;
  margin: 40px 0 20px 0;
}
.bannerBlock h1 span {
  font-weight: 700;
}
@media (max-width: 600px) {
  .bannerBlock {
    padding: 0 20px;
  }
  .bannerBlock h1 {
    font-size: 22px;
  }
  .banners {
    flex-direction: column;
  }
  .bannersBlock {
    width: 100%;
    height: 300px;
  }
  .miniBanners {
    width: 100%;
    flex-direction: row;
  }
  .miniBanners img {
    width: calc(50% - 10px);
    height: 200px;
  }
}
