.about h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  color: #1c1e20;
  margin: 20px 0;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.contentBlock {
  display: flex;
  flex-direction: column;
  width: calc(100% - 370px);
}
.aboutBox {
  display: flex;
}
@media (max-width: 600px) {
  .about {
    margin: 0 20px;
  }
  .about h1 {
    font-size: 22px;
    line-height: 22px;
  }
  .contentBlock {
    width: 100%;
  }
}
