h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #1c1e20;
  margin: 20px 0;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.cardsLine {
  display: flex;
  position: relative;
  gap: 20px;
  margin-top: 20px;
}
.cardsHead {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: calc(100% - ((100% - 100px) / 6) - 20px);
}
.betterBlock {
  width: calc(100% - ((100% - 100px) / 6) - 20px);
}
.cardsHead h2,
.cardsHead a {
  white-space: nowrap;
}
.betterCards {
  width: 466px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
}
.betterCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(50% - 10px);
  border: 2px solid #ffffff;
  border-radius: 18px;
  padding: 30px;
  gap: 10px;
}
.betterModal {
  width: calc(100% - 466px);
  display: inline-flex;
  position: relative;
}
.betterModalText {
  width: 475px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background: #ffffff;
  box-shadow: 0px 9px 24px rgba(33, 37, 40, 0.07);
  border-radius: 12px;
}
.betterModal img {
  position: absolute;
  width: 75%;
  right: 0;
  top: 55px;
}
.betterCard div,
.betterCardWB div,
.betterModalText div {
  min-width: 64px;
  min-height: 64px;
  max-width: 64px;
  max-height: 64px;
  background: rgba(243, 71, 35, 0.11);
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 7.3px rgba(28, 32, 35, 0.1);
  border-radius: 12px;
  padding: 12px;
}
.betterModalText p {
  font-size: 28px;
  line-height: 100%;
  color: #404040;
}
.betterCard p,
.betterCardWB p {
  font-size: 18px;
  color: #282828;
}
.betterCardWB p {
  width: 272px;
}
.betterCardWB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: calc(50% - 10px);
}
.cardsHead a,
.cardsLineCont > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #1d93d2;
}
.cardsLineCont {
  margin: 80px 0;
}
.betterBlock {
  margin: 40px 0 80px 0;
}
.cardsLineCont h2,
.betterBlock h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #1c1e20;
}
.cardsLineCont h2 span,
.betterBlock h2 span,
.betterModalText span {
  color: #f34723 !important;
}
.better .miniCard {
  position: absolute;
  right: 0;
  width: 100%;
  top: 200px;
}
.cardsLineCont > a {
  display: none;
}
.item {
  border-radius: 24px;
  background: #fff;
  overflow: hidden;
}
.header {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #2e2e2e;
  cursor: pointer;
  transition: background 0.2s;
}
.header > span {
  font-weight: 500;
  font-size: 22px;
}
.icon {
  min-width: 48px;
  min-height: 48px;
  font-size: 46px;
  color: #000;
  transition: transform 0.3s;
  border-radius: 50%;
  display: inline-flex;
  padding: 12px;
}
.header:hover,
.header:hover .icon {
  color: #f34723;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 20px;
  font-size: 16px;
  color: #565656;
}
.open {
  max-height: 500px;
  padding: 0 20px 20px;
}
.faq {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.faqList {
  width: calc(100% - ((100% - 100px) / 6) - 20px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faqList .miniCard {
  position: absolute;
  top: 250px;
  right: 0;
  width: 100%;
}
@media (max-width: 1470px) {
  .cardsHead,
  .faqList,
  .betterBlock {
    width: 100%;
  }
  .miniCard {
    display: none;
  }
  .card {
    width: calc((100% - 80px) / 5);
  }
  .cardsBox > div {
    flex: 0 0 250px;
    scroll-snap-align: start;
    user-select: none;
    cursor: grabbing;
  }
}
@media (max-width: 1300px) {
  .cardsLine {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scroll-behavior: smooth;
  }
}
@media (max-width: 1100px) {
  .betterModal img {
    max-width: 400px;
    top: 200px;
  }
}
@media (max-width: 900px) {
  .cardsHead {
    align-items: flex-start;
  }
  .title50 {
    max-width: 50% !important;
    white-space: wrap !important;
  }
  .betterBlock {
    display: flex;
    flex-direction: column;
  }
  .betterModal,
  .betterModalText {
    margin-top: 10px;
    width: 100%;
  }
  .betterCards {
    width: 100%;
  }
  .betterModal img {
    display: none;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 22px;
    margin: 0 20px 20px;
  }
  .cardsLineCont {
    padding: 0 20px;
    margin: 80px 0 40px 0;
  }
  .cardsLineCont h2 {
    font-size: 20px;
  }
  .cardsHead a {
    display: none;
  }
  .cardsLineCont > a {
    display: flex;
    float: right;
    margin-top: 20px;
  }
  .cardsLine {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-top: 0;
  }
  .cardsLine::-webkit-scrollbar {
    display: none;
  }
  .cardsHead {
    margin: 0;
    align-items: baseline;
  }
  .cardsHead h2 {
    font-size: 20px !important;
    width: 50%;
    text-wrap: wrap;
  }
  .filter .cardsHead button {
    text-align: end;
  }
  .cardsLineCont p,
  .header > span {
    font-size: 16px;
  }
  .faq {
    gap: 0;
  }
  .cardsHead h2 {
    width: 100%;
  }
  .betterCard {
    width: 100%;
    padding: 20px;
  }
  .betterCardWB {
    width: 100%;
    padding: 20px;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 18px;
  }
  .betterCardWB p {
    width: 100%;
    text-align: center;
  }
  .betterBlock {
    margin: 0 0 80px 0;
  }
  .breadcrubs,
  h1 {
    margin: 20px;
  }
}
