.footer {
  margin-top: 40px;
}
.footerDown {
  background: #000000;
}
.footerDown p {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #8b8b8b;
  padding: 20px 0;
}
.payments {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.payments p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #545454;
}
.payments div {
  display: flex;
  gap: 20px;
}
.menuColumn {
  display: flex;
  flex-direction: column;
}
.menuColumn a {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #545454;
}
.firstLink {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #1d1a1a !important;
}
.middleBlock {
  display: flex;
  gap: 90px;
}
.rightBlock {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.socialTop {
  display: flex;
  gap: 20px;
}
.socialTop svg {
  width: 36px;
  border: 1px solid #b9b9b9;
  padding: 6px;
  border-radius: 50%;
}
.socialBottom {
  display: flex;
  gap: 10px;
}
.socialBottom svg {
  width: 48px;
  background: #000000;
  padding: 12px;
  border-radius: 50%;
}
.rightBlock p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #8a8a8a;
  margin-bottom: 20px;
}
.rightBlock span {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #8a8a8a;
  margin: 15px 0;
}
.reviews {
  margin: 20px 0;
}
@media (max-width: 600px) {
  .menuColumn {
    display: none;
  }
  .footerDown {
    padding: 20px;
  }
  .footerDown p {
    padding: 0;
  }
  .rightBlock {
    width: 100%;
    align-items: center;
  }
  .payments {
    flex-direction: column;
    padding: 0 20px;
  }
  .payments p {
    text-align: center;
  }
  .payments div {
    margin: 10px 0;
  }
}
