.guarantee h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  color: #1c1e20;
  margin: 20px 0 40px 0;
}
.guarantee h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 10px;
}
.guarantee > ul li,
.whiteBox > ul li {
  list-style: disc;
  margin-left: 20px;
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}
.breadcrubs {
  font-size: 16px;
  line-height: 100%;
  color: #9f9f9f;
  margin-top: 20px;
  display: block;
}
.whiteBox {
  background: #ffffff;
  border-radius: 24px;
  padding: 40px;
  margin-top: 50px;
}
.guarantee p {
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}
.mp {
  margin: 20px 0 50px 0;
}
.whiteBoxes {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}
.whiteBoxes_Item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(50% - 10px);
  padding: 50px;
  background: #ffffff;
  border-radius: 24px;
}
.whiteBoxes_Item p {
  margin-bottom: 10px;
  font-weight: 500;
}
.whiteBoxes_Item ul li {
  font-size: 18px;
  line-height: 100%;
  color: #333333;
}

@media (max-width: 600px) {
  .guarantee {
    margin: 0 20px;
  }
  .guarantee h1 {
    font-size: 22px;
    line-height: 22px;
  }
}
